<!-- it is important to add @todo_list before @todo_item because it is nested
  under todo_list in the routes.rb file
-->

<h1><%= @todo_list.title %> - Adding Todo List Item</h1>
<%= form_for [@todo_list, @todo_item] do |form| %>
  <%= render partial: form %>
<% end %>